.pic-sizing {
    width: 250px;
    height: 200px;
    margin: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
}

.header-style {
    width: 100%;
    text-align: center;
}

.post-box {
    width: 75%;
    background-color: rgba(160, 231, 255, 0.356);
    margin: 30px;
    border-radius: 20px;
}